/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
 HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1{
	color: rgba(176,126,48,1);
}

h1.titulo-branco{
	color: rgba(255,255,255,1);
}

/* MIGALHAS */
.breadcrumb >.active {
	color: rgba(176,126,48,1);
	font-weight: bold; 
 }
 .content-header-title{
	color: rgba(176,126,48,1);
 }


.menu-full{
	width: 100vw;
	height: 0vh;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	overflow: hidden;
	transition: all .4s ease-in-out;
}


.menu-full.menu-show{
	transition: all .4s ease-in-out;
height: 100vh;

}

.menu-linha{height: 100vh;}

#bg-menu{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.link-top a{ color: #fff; }


.btn.btn-primary{
	transition: all .5s ease; 
	background-color: rgba(176,126,48,0); 
	color:rgba(176,126,48,1); 
	border: 2px solid rgba(176,126,48,1); 
	border-radius: 20px 0 20px 0; 
	padding-left: 40px; 
	padding-right: 40px; 
	font-weight: bold; 
	font-size: 18px; 
}

.btn.btn-primary:hover{
	background-color: rgba(176,126,48,1);
	color: #fff; 
}


.btn.btn-primary.btn-block{
	padding-left: 50px; 
	padding-right: 60px;
	max-width: 340px !important;
	margin: 0 auto;
}



.bg-escuro .btn.btn-primary{
color:#fff; 
	border: 2px solid #fff; 
}

.bg-escuro .btn.btn-primary:hover{
	background-color: rgba(255,255,255,1);
	color: rgba(176,126,48,1); 
}

.nav-tabs {
    border: 1px solid #dee2e6;
    border-radius: 4px; 
}

.nav-tabs .nav-link:hover {
    border-color:rgba(176,126,48,0);
    background-color:#FFF;
    color: rgba(176,126,48,1);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color:rgba(176,126,48,0);
    background-color:#FFF;
    color: rgba(176,126,48,1);
}

.nav-tabs .nav-link {
    
    color:#fff;
}



.vh-100 {
	height: 100vh;
}

.slides .slide{background: #f2f2f2;}



.c-videos{
	background: rgba(176,126,48,1);
	background-image: url('../img/site/bg-videos.jpg');
	background-size: cover;
	width: 100%;
	padding:100px 0; 
}

.c-videos .video{
	background: #fff;
	width: 100%;
	height: 250px;
	border-radius: 5px;
}

.c-videos .video .play-video{
	position: absolute;
	left: 30px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	background: rgba(176,126,48,1);
	border-radius: 100px;
}


.c-como{padding: 100px 0; }

.como{ padding: 40px; border: 2px solid rgba(176,126,48,1); border-radius:20px; width: 90%; position: relative;}

.c-como p{font-size: 20px; line-height: 30px; color: #999;}

.como.como-esquerda{margin-left: 10%;}

.como .como-esquerda-d{margin-left: 29%; width: 70%; position: relative;}
.como .como-direita-d{ width: 70%;}

.como .grade-como-e, .como .grade-como-d{
	position: absolute;
	width: 400px;
	height: 200px;
	left: -240px;
	top: 50%;
	margin-top: -100px;
	background-size: 100% 100%;
	background-image: url('../img/canto_como_e.jpg');
}

.como .grade-como-d{
	left: auto !important;
	right: -240px !important;
	background-image: url('../img/canto_como_d.jpg');
}

.c-news{padding: 0 0 100px 0;}

.new-slide{
	padding: 20px;
}

.c-midia{padding:0 0 100px 0;}

.c-eventos .col-md-7, .c-eventos .col-md-5{
	padding: 2px;
}

.foto-eventos{
	width: 64px;
	background: #f2f2f2;
	border-radius:10px; 
}

.foto-insta{background: #f2f2f2;}

.midias-isnta .col-4{
    padding: 2px !important;

	}




.link-footer li{
	list-style: none; 
}

.list-group-item {background: transparent; border:none;}


footer.footer{
	border-top: solid 4px #1a120a;
	background: #2b2116;
}
.i-footer{ max-width: 1400px !important; }

footer.footer a{ color: #fff; }



@media (max-width:1200px){
	.navbar-toggler{display:block !important;}
	.navbar-expand .navbar-toggler{display:block !important;}

}


